@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 210 58.3% 70.14%;
      --foreground: 215 28% 17%;
      --card: 0 0% 100%;
      --card-foreground: 215 28% 17%;
      --popover: 0 0% 100%;
      --popover-foreground: 215 28% 17%;
      --primary: 155 55% 34%;
      --primary-foreground: 0 0% 100%;
      --secondary: 200 60% 92%;
      --secondary-foreground: 215 28% 17%;
      --muted: 200 35% 90%;
      --muted-foreground: 215 15% 45%;
      --accent: 28 85% 55%;
      --accent-foreground: 0 0% 100%;
      --destructive: 355 70% 48%;
      --destructive-foreground: 0 0% 100%;
      --border: 200 20% 85%;
      --input: 200 20% 85%;
      --ring: 155 55% 34%;
      --radius: 0.75rem;
   }

   .dark {

      --gradient: linear-gradient(to top left, #0052D4, #4364F7, #6FB1FC);

      --background: 230 65% 3.36%;
      --foreground: 230 10% 97.1%;

      --muted: 230 50% 12.6%;
      --muted-foreground: 230 10% 54.2%;

      --popover: 230 45% 5.46%;
      --popover-foreground: 230 10% 97.1%;

      --card: 230 45% 5.46%;
      --card-foreground: 230 10% 97.1%;

      --border: 230 50% 12.6%;
      --input: 230 50% 12.6%;

      --primary: 230 100% 42%;
      --primary-foreground: 230 10% 97.1%;

      --secondary: 230 50% 12.6%;
      --secondary-foreground: 230 10% 97.1%;

      --accent: 230 50% 12.6%;
      --accent-foreground: 230 10% 97.1%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 230 10% 97.1%;

      --ring: 230 100% 42%;
   }
}


@layer base {
   * {
      @apply border-border;
   }

   body {
      @apply bg-background text-foreground;
   }

   html {
      @apply scroll-smooth;
   }
}